@import "../vars"

//COLORS
$green_base: #6bb42f
$green_dark: #5E873C
$green_light: #68a832

$white: #fff
$white_dark: #f1f1f1

$brown: #2c2027
$brown_dark: #140d13

@mixin gradient-red()
  background: #D52E43
  background: linear-gradient(168.94deg, #FF2E2E 0%, #D52E43 80.27%)


//SIZES
$header-height_sm: 54px

@mixin text_xl()
  font-size: 2.2rem

  @media ($brpt_md)
    font-size: 2.4rem

// DURATIONS
$duration_fast: 0.2s
$duration_normal: 0.35s
$duration_slow: 0.45s