@import "../vars"

//COLORS
$red-basic: #DF2647
$red-light: #E32D3B
$grey: #f3f3f3

@mixin gradient-red()
  background: #D52E43
  background: linear-gradient(168.94deg, #FF2E2E 0%, #D52E43 80.27%)


//SIZES
$header-height_sm: 54px
$header-height_md: 60px

@mixin text_xl()
  font-size: 2.2rem

  @media ($brpt_md)
    font-size: 2.4rem

// DURATIONS
$duration_fast: 0.2s
$duration_normal: 0.35s
$duration_slow: 0.45s



@mixin text-red()
  color: $red-basic
  @supports (display: grid)
    background: linear-gradient(168.94deg, #FF2E2E 0%, #D52E43 80.27%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
