@import "../reset"
@import "vars"
@import "../vars"

html
  font-family: "Montserrat-Light" !important
  font-size: 62.5%
  color: #1f1f1f

body
  font-size: 1.8rem
  position: relative
  overflow-x: hidden


body, input
  color: #1f1f1f


p

b
  font-weight: bolder

img
  max-width: 100%

video
  max-width: 100%