@import "../reset"
@import "vars"
@import "../vars"

html
  font-family: "RobotoSlab-Light" !important
  font-size: 62.5%

body
  font-size: 1.6rem
  line-height: 2.2rem
  position: relative
  overflow-x: hidden

p
  font-family: "RobotoSlab-Light"
  text-indent: .5rem
  color: #3c3c3c
  margin-bottom: .6rem

b
  font-weight: bolder

img
  max-width: 100%

video
  max-width: 100%