@import "../../../bootstrap"
@import "../../button/_primary/button_primary"

.form-group__submit
  @extend .button_primary
  z-index: 1


// FORM-GROUP VERTICAL
.form-group_vertical
  & .form-group__submit
    width: 100%



// FORM-GROUP HORIZONTAL
.form-group_horizontal
  & .form-group__submit
    @media ($brpt_sm_max)
      width: 100%



//
// FORM-GROUP LARGE
//
.form-group_large
  & .form-group__submit
    font-family: "Montserrat-Bold"
    font-size: 1.9rem
    height: 60px

    @media ($brpt_lg)
      font-size: 2rem



.form-group_large.form-group_horizontal
  & .form-group__submit
    @media ($brpt_md)
      width: 205px
    @media ($brpt_lg)
      width: 250px



//
// FORM-GROUP BIG
//
.form-group_big
  & .form-group__submit
    font-family: "Montserrat-Bold"
    font-size: 1.6rem
    height: 55px

    @media ($brpt_lg)
      font-size: 1.8rem



.form-group_big.form-group_horizontal
  & .form-group__submit
    @media ($brpt_md)
      width: 180px
    @media ($brpt_lg)
      width: 200px



//
// FORM-GROUP MEDIUM
//
.form-group_medium
  & .form-group__submit
    font-family: "Montserrat-Bold"
    font-size: 1.5rem
    height: 55px

    @media ($brpt_lg)
      font-size: 1.6rem



.form-group_medium.form-group_horizontal
  & .form-group__submit
    @media ($brpt_md)
      width: 170px
    @media ($brpt_lg)
      width: 180px