@import "../../../bootstrap"

.title-screen__subtitle
  font-family: "Montserrat-Regular"
  font-size: 2rem
  @include text-red
  line-height: 100%
  margin-top: 5px


  @media ($brpt_lg)
    font-size: 2.2rem


  @media ($brpt_xl)
    font-size: 2.8rem