@import "../../../bootstrap"

.free-measuring-section__form
  background: #ededef
  border-radius: 3px
  box-shadow: 0 4px 12px rgba(#000,.23)
  padding: 30px 15px
  box-sizing: border-box

  .form__agreement
    text-align: center
    color: #000



  @media ($brpt_md) and ($brpt_md_max)
    @include section-full-vw
    border-radius: 0



  @media ($brpt_lg)
    background: #fff
    display: flex
    align-items: center
    justify-content: center
    height: 180px
    width: calc(100% - 30px)
    border-radius: 3px
    position: absolute
    top: 100%

  @media ($brpt_xl)
    height: 240px
    justify-content: flex-start
    padding-left: 30px


    .form__agreement
      text-align: left