@import "../../bootstrap"

.footer
  background: #494949
  color: #fff
  margin-top: 100px
  padding: 50px 0


  @media ($brpt_md)
    margin-top: 120px
    padding: 60px 0


  @media ($brpt_xl)
    margin-top: 150px
    padding: 80px 0