@import "../../../bootstrap"

.profile-preview-card__img
  display: flex
  align-items: center

  @media ($brpt_sm_max)
    width: 70%
    margin: 0 auto

  @media ($brpt_md)
    @include flex-basis(50%)