@import "../../../bootstrap"

.profile-preview-card__img
  display: flex
  align-items: center

  @media ($brpt_sm_max)
    width: 70%
    margin: 0 auto

  @media ($brpt_md)
    @include flex-basis(50%) // для IE

    display: flex
    justify-content: center

    & img
      max-width: 80%

    @supports (display: grid)
      @include grid-cols(1,1)
      @include grid-rows(1,2)