@media (min-width:1200px) {
  .articles-preview-section__container {
    padding-left: calc(30px / 2);
    padding-right: calc(30px / 2);
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
  }
}

@media (min-width:1200px) and (min-width:576px) {
  .articles-preview-section__container {
    width: 576px;
  }
}

@media (min-width:1200px) and (min-width:768px) {
  .articles-preview-section__container {
    width: 768px;
  }
}

@media (min-width:1200px) and (min-width:992px) {
  .articles-preview-section__container {
    width: 984px;
  }
}

@media (min-width:1200px) and (min-width:1200px) {
  .articles-preview-section__container {
    width: 1200px;
  }
}