.nav__category-item {
  font-family: Montserrat-Regular;
}

@media (min-width:768px) {
  .nav__category-item {
    font-size: 1.8rem;
    color: #df2647;
    text-decoration: none;
  }

  .nav__category-item:hover {
    text-decoration: underline;
  }
}