@import "../../../bootstrap"

.product-section__cover

  @media ($brpt_sm_max)
    @include section-full-vw


  @media ($brpt_md_max)
    order: -1


  @media ($brpt_md)
    display: flex
    align-items: flex-start
    justify-content: center
    border-radius: 3px
    overflow: hidden