@media (min-width:768px) {
  .nav__dropdown {
    display: none;
    position: absolute;
    max-width: 900px;
    background: #fff;
    border-top: 1px solid rgba(0,0,0,.07);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    top: 100%;
    left: -5px;
    padding: 30px;
    box-shadow: 0 4px 7px rgba(168,175,196,.6);
    z-index: 2;
  }
}

@media (max-width:767px) {
  .nav__dropdown {
    position: fixed;
    top: 54px;
    height: calc(100vh - 54px);
    width: 100vw;
    left: 100vw;
    transition: all .2s;
    background: #d52e43;
    background: linear-gradient(168.94deg,#ff2e2e 0,#d52e43 80.27%);
    color: #fff;
    overflow-y: scroll;
    z-index: 5;
  }
}