@import "../../../bootstrap"

.contacts-division__map
  height: 250px


  @media ($brpt_sm_max)
    @include section-full-vw


  @media ($brpt_md)
    width: 100%
    height: 320px
    border-radius: 3px
    overflow: hidden