.free-measuring-section__body {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

@media (min-width:768px) {
  .free-measuring-section__body {
    padding-bottom: calc(180px / 2);
    padding-top: 60px;
  }
}

@media (min-width:1200px) {
  .free-measuring-section__body {
    padding-top: 70px;
    padding-bottom: calc(240px / 2);
  }
}