@import "../../bootstrap"

.button
  display: inline-flex
  align-items: center
  justify-content: center
  border-radius: 3px
  cursor: pointer
  overflow: hidden
  box-sizing: border-box



button, button:after, button:before
  cursor: pointer