@import "../../../bootstrap"

.footer__column-right
  padding-top: 30px
  margin-top: 30px
  border-top: 1px solid rgba(#fff,.1)


  @media ($brpt_md)
    border-top: none


  @media ($brpt_lg)
    flex-grow: 1
    display: flex
    justify-content: flex-end
    padding-top: 0
    margin-top: 0