@import "../../../bootstrap"

.portfolio-recap__card-cover

  @supports (display: grid) // почему-то IE криво отрабатывает это правило
    display: flex
    align-items: center
    justify-content: center
