@import "../../../bootstrap"

.free-measuring-section__worker
  display: none
  position: relative


  @media ($brpt_lg)
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    right: 0
    width: 278px
    top: -362px



  @media ($brpt_xl)
    width: 385px
    top: auto
    bottom: 0