@import "../../../bootstrap"

.list_checked
  margin-left: 1.5em

  li
    position: relative

    &:before
      content: ''
      height: 1em
      width: 1em
      display: block
      background: url('/public/svg/lists/checked-red.svg') right center no-repeat
      position: absolute
      left: -1.5em