.link_arrowed {
  display: inline-flex;
  flex-direction: row;
  text-decoration: none;
  transition: all .45s ease;
}

.link_arrowed>* {
  margin-right: .55em;
}

.link_arrowed>:last-child {
  margin-right: 0;
}

@supports (display:grid) {
  .link_arrowed {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    grid-auto-flow: column;
    grid-column-gap: .55em;
  }

  .link_arrowed>* {
    margin-right: 0;
  }
}

.link_arrowed:hover {
  text-decoration: none!important;
}

.link_arrowed:hover .icon-arrow {
  left: .5em;
}

.link_arrowed .icon-arrow {
  position: relative;
  left: 0;
  font-size: .9em;
  margin-top: .111em;
  transition: all .45s ease;
}