// CONTAINERS
$xl: 1200px
$lg: 984px
$md: 768px
$sm: 576px

// BREAKPOINTS
$brpt_xl: "min-width: 1200px"
$brpt_lg: "min-width: 992px"
$brpt_md: "min-width: 768px"
$brpt_sm: "min-width: 576px"
$brpt_xs: "min-width: 400px"


// MEDIA QUERIES
$brpt_lg_max: "max-width: 1199px"
$brpt_md_max: "max-width: 991px"
$brpt_sm_max: "max-width: 767px"
$brpt_xs_max: "max-width: 575px"


// FOLDERS
$folder_img: '../img/'
$folder_fonts: '../fonts/'


// GRID
$grid-column-gap: 30px
$grid-row-gap: 30px
$grid-cols: 12


// FONT-SIZES
$fsz_mini: 1.2rem
$fsz_tiny: 1.4rem
$fsz_small: 1.6rem
$fsz_medium: 1.8rem
$fsz_big: 2rem
$fsz_large: 2.2rem
$fsz_huge: 2.4rem