.nav__dropdown-item {
  font-family: Montserrat-Regular;
  color: #fff;
  font-size: 2.6rem;
  text-decoration: none;
}

.nav__dropdown-item:hover {
  text-decoration: underline;
}

@media (min-width:768px) {
  .nav__dropdown-item {
    font-size: 1.8rem;
    color: #df2647;
    white-space: nowrap;
    text-decoration: none;
  }
}