.section-padding_massive {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width:768px) {
  .section-padding_massive {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width:1200px) {
  .section-padding_massive {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}