@media (min-width:768px) {
  .profile-preview-card {
    display: flex;
    flex-wrap: wrap;
  }

@supports (display:grid) {
    .profile-preview-card {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-column-gap: 30px;
    }
}
}