.profile-preview-card {
  position: relative;
}

@media (min-width:768px) {
  .profile-preview-card {
    display: flex;
    flex-wrap: wrap;
  }

@supports (display:grid) {
    .profile-preview-card {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-column-gap: 30px;
    }
}
}

@media (max-width:767px) {
  .profile-preview-card {
    display: flex;
    flex-direction: column;
  }

  .profile-preview-card>:not(:first-child) {
    margin-top: 15px;
  }

  .profile-preview-card>* {
    flex-shrink: 0;
  }

  .profile-preview-card:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 100%;
    left: -15px;
  }
}