@import "../../../bootstrap"

.employee-card__photo
  display: flex
  align-items: center
  justify-content: center
  border-radius: 3px
  overflow: hidden

  img
    width: 100%

  @media ($brpt_md)
    height: 300px


  @media ($brpt_xl)
    border-radius: 3px
    overflow: hidden