@import "../../../bootstrap"

.free-measuring-section__body
  padding-top: 30px
  padding-bottom: 30px
  position: relative


  @media ($brpt_md)
    padding-top: 60px


  @media ($brpt_xl)
    padding-top: 70px
    padding-bottom: calc(240px / 2)