.profile-preview-card__property-name {
  font-size: 1.4rem;
}

@media (min-width:768px) {
  .profile-preview-card__property-name {
    font-size: 1.6rem;
  }
}

@media (min-width:992px) {
  .profile-preview-card__property-name {
    font-size: 1.8rem;
  }
}