@import "../../../bootstrap"

.nav__dropdown-item
  font-family: "Montserrat-Regular"
  color: #fff
  font-size: 2.6rem
  text-decoration: none


  @media ($brpt_md)
    font-size: 1.8rem
    color: $red-basic
    white-space: nowrap
    text-decoration: none

  &:hover
    text-decoration: underline