a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: Montserrat-Light!important;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  position: relative;
  overflow-x: hidden;
}

b {
  font-weight: bolder;
}

img {
  max-width: 100%;
}

video {
  max-width: 100%;
}
@font-face {
  font-family: Montserrat-Thin;
  font-display: fallback;
  src: url(../fonts/Montserrat/Montserrat-Thin.eot);
  src: url(../fonts/Montserrat/Montserrat-Thin.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat/Montserrat-Thin.woff) format("woff"),url(../fonts/Montserrat/Montserrat-Thin.ttf) format("truetype"),url(../fonts/Montserrat/Montserrat-Thin.svg#Panton) format("svg");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: Montserrat-ExtraLight;
  font-display: fallback;
  src: url(../fonts/Montserrat/Montserrat-ExtraLight.eot);
  src: url(../fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat/Montserrat-ExtraLight.woff) format("woff"),url(../fonts/Montserrat/Montserrat-ExtraLight.ttf) format("truetype"),url(../fonts/Montserrat/Montserrat-ExtraLight.svg#Panton) format("svg");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: Montserrat-Light;
  font-display: fallback;
  src: url(../fonts/Montserrat/Montserrat-Light.eot);
  src: url(../fonts/Montserrat/Montserrat-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat/Montserrat-Light.woff) format("woff"),url(../fonts/Montserrat/Montserrat-Light.ttf) format("truetype"),url(../fonts/Montserrat/Montserrat-Light.svg#Panton) format("svg");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Montserrat-Regular;
  font-display: fallback;
  src: url(../fonts/Montserrat/Montserrat-Regular.eot);
  src: url(../fonts/Montserrat/Montserrat-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat/Montserrat-Regular.woff) format("woff"),url(../fonts/Montserrat/Montserrat-Regular.ttf) format("truetype"),url(../fonts/Montserrat/Montserrat-Regular.svg#Panton) format("svg");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Montserrat-Medium;
  font-display: fallback;
  src: url(../fonts/Montserrat/Montserrat-Medium.eot);
  src: url(../fonts/Montserrat/Montserrat-Medium.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat/Montserrat-Medium.woff) format("woff"),url(../fonts/Montserrat/Montserrat-Medium.ttf) format("truetype"),url(../fonts/Montserrat/Montserrat-Medium.svg#Panton) format("svg");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Montserrat-Semibold;
  font-display: fallback;
  src: url(../fonts/Montserrat/Montserrat-Semibold.eot);
  src: url(../fonts/Montserrat/Montserrat-Semibold.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat/Montserrat-Semibold.woff) format("woff"),url(../fonts/Montserrat/Montserrat-Semibold.ttf) format("truetype"),url(../fonts/Montserrat/Montserrat-Semibold.svg#Panton) format("svg");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Montserrat-Bold;
  font-display: fallback;
  src: url(../fonts/Montserrat/Montserrat-Bold.eot);
  src: url(../fonts/Montserrat/Montserrat-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat/Montserrat-Bold.woff) format("woff"),url(../fonts/Montserrat/Montserrat-Bold.ttf) format("truetype"),url(../fonts/Montserrat/Montserrat-Bold.svg#Panton) format("svg");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Montserrat-ExtraBold;
  font-display: fallback;
  src: url(../fonts/Montserrat/Montserrat-ExtraBold.eot);
  src: url(../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat/Montserrat-ExtraBold.woff) format("woff"),url(../fonts/Montserrat/Montserrat-ExtraBold.ttf) format("truetype"),url(../fonts/Montserrat/Montserrat-ExtraBold.svg#Panton) format("svg");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: Montserrat-Black;
  font-display: fallback;
  src: url(../fonts/Montserrat/Montserrat-Black.eot);
  src: url(../fonts/Montserrat/Montserrat-Black.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat/Montserrat-Black.woff) format("woff"),url(../fonts/Montserrat/Montserrat-Black.ttf) format("truetype"),url(../fonts/Montserrat/Montserrat-Black.svg#Panton) format("svg");
  font-style: normal;
  font-weight: 900;
}

.feature-item__title {
  font-family: Montserrat-Bold;
  font-size: 2rem;
}