a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: Montserrat-Light!important;
  font-size: 62.5%;
  color: #1f1f1f;
}

body {
  font-size: 1.8rem;
  position: relative;
  overflow-x: hidden;
}

body,
input {
  color: #1f1f1f;
}

p {
  line-height: 150%;
}

b {
  font-weight: bolder;
}

img {
  max-width: 100%;
}

video {
  max-width: 100%;
}
@font-face {
  font-family: Montserrat-Thin;
  font-display: fallback;
  src: url(../fonts/Montserrat/Montserrat-Thin.eot);
  src: url(../fonts/Montserrat/Montserrat-Thin.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat/Montserrat-Thin.woff) format("woff"),url(../fonts/Montserrat/Montserrat-Thin.ttf) format("truetype"),url(../fonts/Montserrat/Montserrat-Thin.svg#Panton) format("svg");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: Montserrat-ExtraLight;
  font-display: fallback;
  src: url(../fonts/Montserrat/Montserrat-ExtraLight.eot);
  src: url(../fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat/Montserrat-ExtraLight.woff) format("woff"),url(../fonts/Montserrat/Montserrat-ExtraLight.ttf) format("truetype"),url(../fonts/Montserrat/Montserrat-ExtraLight.svg#Panton) format("svg");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: Montserrat-Light;
  font-display: fallback;
  src: url(../fonts/Montserrat/Montserrat-Light.eot);
  src: url(../fonts/Montserrat/Montserrat-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat/Montserrat-Light.woff) format("woff"),url(../fonts/Montserrat/Montserrat-Light.ttf) format("truetype"),url(../fonts/Montserrat/Montserrat-Light.svg#Panton) format("svg");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Montserrat-Regular;
  font-display: fallback;
  src: url(../fonts/Montserrat/Montserrat-Regular.eot);
  src: url(../fonts/Montserrat/Montserrat-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat/Montserrat-Regular.woff) format("woff"),url(../fonts/Montserrat/Montserrat-Regular.ttf) format("truetype"),url(../fonts/Montserrat/Montserrat-Regular.svg#Panton) format("svg");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Montserrat-Medium;
  font-display: fallback;
  src: url(../fonts/Montserrat/Montserrat-Medium.eot);
  src: url(../fonts/Montserrat/Montserrat-Medium.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat/Montserrat-Medium.woff) format("woff"),url(../fonts/Montserrat/Montserrat-Medium.ttf) format("truetype"),url(../fonts/Montserrat/Montserrat-Medium.svg#Panton) format("svg");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Montserrat-Semibold;
  font-display: fallback;
  src: url(../fonts/Montserrat/Montserrat-Semibold.eot);
  src: url(../fonts/Montserrat/Montserrat-Semibold.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat/Montserrat-Semibold.woff) format("woff"),url(../fonts/Montserrat/Montserrat-Semibold.ttf) format("truetype"),url(../fonts/Montserrat/Montserrat-Semibold.svg#Panton) format("svg");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Montserrat-Bold;
  font-display: fallback;
  src: url(../fonts/Montserrat/Montserrat-Bold.eot);
  src: url(../fonts/Montserrat/Montserrat-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat/Montserrat-Bold.woff) format("woff"),url(../fonts/Montserrat/Montserrat-Bold.ttf) format("truetype"),url(../fonts/Montserrat/Montserrat-Bold.svg#Panton) format("svg");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Montserrat-ExtraBold;
  font-display: fallback;
  src: url(../fonts/Montserrat/Montserrat-ExtraBold.eot);
  src: url(../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat/Montserrat-ExtraBold.woff) format("woff"),url(../fonts/Montserrat/Montserrat-ExtraBold.ttf) format("truetype"),url(../fonts/Montserrat/Montserrat-ExtraBold.svg#Panton) format("svg");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: Montserrat-Black;
  font-display: fallback;
  src: url(../fonts/Montserrat/Montserrat-Black.eot);
  src: url(../fonts/Montserrat/Montserrat-Black.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat/Montserrat-Black.woff) format("woff"),url(../fonts/Montserrat/Montserrat-Black.ttf) format("truetype"),url(../fonts/Montserrat/Montserrat-Black.svg#Panton) format("svg");
  font-style: normal;
  font-weight: 900;
}
.article-preview-card {
  width: 75vw;
  padding: 15px;
  background: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 3px;
  box-sizing: border-box;
}

@media (min-width:768px) {
  .article-preview-card {
    width: 310px;
  }
}

@media (min-width:992px) {
  .article-preview-card {
    width: 370px;
  }
}
.articles-preview-section {
  position: relative;
}

.articles-preview-section:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 300px;
  background: url(/public/img/sections/articles-previews/background.jpg) no-repeat center;
  z-index: -1;
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
}
@media (max-width:767px) {
  .feature-item {
    display: flex;
    flex-direction: row;
  }

  .feature-item>* {
    margin-right: 15px;
  }

  .feature-item>:nth-child(2n) {
    margin-right: 0;
  }
}
.form {
  display: inline-block;
}
.form-group {
  width: 100%;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 3px;
  box-sizing: border-box;
  overflow: hidden;
}

@media (min-width:768px) {
  .form-group {
    width: auto;
  }
}
.free-measuring-section {
  background: url(/public/img/sections/free-measuring/background.jpg) center no-repeat;
}
.h2 {
  font-family: Montserrat-Bold;
}
.h3 {
  font-family: Montserrat-Semibold;
}
.h1 {
  font-family: Montserrat-ExtraBold;
}
.h4 {
  font-family: Montserrat-Medium;
}
.link,
a.link {
  font-family: Montserrat-Regular;
  color: #df2647;
}
.list {
  margin-left: 1.5em;
}
.product-title {
  position: relative;
  margin-left: 15px;
}

.product-title:before {
  content: '';
  display: block;
  width: 10px;
  height: 100%;
  left: -15px;
  position: absolute;
  background: #d52e43;
  background: linear-gradient(168.94deg,#ff2e2e 0,#d52e43 80.27%);
}
@media (min-width:768px) {
  .profile-preview-card {
    display: flex;
    flex-wrap: wrap;
  }

@supports (display:grid) {
    .profile-preview-card {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-column-gap: 30px;
    }
}
}
.progress-bar {
  position: relative;
  height: 15px;
  width: 100%;
}
.section_padding-medium {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (min-width:768px) {
  .section-column-mini>:not(:first-child) {
    margin-top: 40px;
  }

  .section-column-tiny>:not(:first-child) {
    margin-top: 60px;
  }

  .section-column-small>:not(:first-child) {
    margin-top: 80px;
  }

  .section-column-medium>:not(:first-child) {
    margin-top: 90px;
  }

  .section-column-big>:not(:first-child) {
    margin-top: 100px;
  }

  .section-column-large>:not(:first-child) {
    margin-top: 120px;
  }

  .section-column-huge>:not(:first-child) {
    margin-top: 150px;
  }
}

@media (min-width:992px) {
  .section-column-mini>:not(:first-child) {
    margin-top: 45px;
  }

  .section-column-tiny>:not(:first-child) {
    margin-top: 70px;
  }

  .section-column-small>:not(:first-child) {
    margin-top: 90px;
  }

  .section-column-medium>:not(:first-child) {
    margin-top: 100px;
  }

  .section-column-big>:not(:first-child) {
    margin-top: 120px;
  }

  .section-column-large>:not(:first-child) {
    margin-top: 150px;
  }

  .section-column-huge>:not(:first-child) {
    margin-top: 180px;
  }
}

@media (min-width:1200px) {
  .section-column-mini>:not(:first-child) {
    margin-top: 50px;
  }

  .section-column-tiny>:not(:first-child) {
    margin-top: 80px;
  }

  .section-column-small>:not(:first-child) {
    margin-top: 100px;
  }

  .section-column-medium>:not(:first-child) {
    margin-top: 120px;
  }

  .section-column-big>:not(:first-child) {
    margin-top: 150px;
  }

  .section-column-large>:not(:first-child) {
    margin-top: 180px;
  }

  .section-column-huge>:not(:first-child) {
    margin-top: 200px;
  }
}

@media (max-width:767px) {
  .section-column-mini>:not(:first-child) {
    margin-top: 30px;
  }

  .section-column-tiny>:not(:first-child) {
    margin-top: 50px;
  }

  .section-column-small>:not(:first-child) {
    margin-top: 60px;
  }

  .section-column-medium>:not(:first-child) {
    margin-top: 70px;
  }

  .section-column-big>:not(:first-child) {
    margin-top: 80px;
  }

  .section-column-large>:not(:first-child) {
    margin-top: 100px;
  }

  .section-column-huge>:not(:first-child) {
    margin-top: 120px;
  }
}
.swiper-scrollbar {
  width: calc(100% - 30px)!important;
  margin: 0 15px;
  left: 0!important;
}
.swiper-scrollbar-drag {
  background: #d52e43;
  background: linear-gradient(168.94deg,#ff2e2e 0,#d52e43 80.27%);
}
.container {
  padding-left: calc(30px / 2);
  padding-right: calc(30px / 2);
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}

.container.fluid {
  width: 100%;
  box-sizing: border-box;
}

@media (min-width:576px) {
  .container {
    width: 576px;
  }
}

@media (min-width:768px) {
  .container {
    width: 768px;
  }
}

@media (min-width:992px) {
  .container {
    width: 984px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1200px;
  }
}
.align-center {
  text-align: center;
}
@media (min-width:768px) {
  .grid-cols-span-md-2 {
    width: calc(((100% - 30px * 2)/ 2) * 2 + 30px * 1)!important;
  }

@supports (display:grid) {
    .grid-cols-span-md-2 {
      width: initial!important;
      grid-column: span 2;
    }
}
}
.justify-content-center {
  display: flex;
  justify-content: center;
}
@media (min-width:768px) {
  .h1_mini {
    font-size: 2.4rem;
  }

  .h1_tiny {
    font-size: 2.8rem;
  }

  .h1_small {
    font-size: 3.2rem;
  }

  .h1_medium {
    font-size: 3.6rem;
  }

  .h1_big {
    font-size: 4rem;
  }

  .h1_large {
    font-size: 4.4rem;
  }

  .h1_huge {
    font-size: 4.8rem;
  }

  .h2_mini {
    font-size: 1.95rem;
  }

  .h2_tiny {
    font-size: 2.275rem;
  }

  .h2_small {
    font-size: 2.6rem;
  }

  .h2_medium {
    font-size: 2.925rem;
  }

  .h2_big {
    font-size: 3.25rem;
  }

  .h2_large {
    font-size: 3.575rem;
  }

  .h2_huge {
    font-size: 3.9rem;
  }

  .h3_mini {
    font-size: 1.65rem;
  }

  .h3_tiny {
    font-size: 1.925rem;
  }

  .h3_small {
    font-size: 2.2rem;
  }

  .h3_medium {
    font-size: 2.475rem;
  }

  .h3_big {
    font-size: 2.75rem;
  }

  .h3_large {
    font-size: 3.025rem;
  }

  .h3_huge {
    font-size: 3.3rem;
  }

  .h4_mini {
    font-size: 1.35rem;
  }

  .h4_tiny {
    font-size: 1.575rem;
  }

  .h4_small {
    font-size: 1.8rem;
  }

  .h4_medium {
    font-size: 2.025rem;
  }

  .h4_big {
    font-size: 2.25rem;
  }

  .h4_large {
    font-size: 2.475rem;
  }

  .h4_huge {
    font-size: 2.7rem;
  }

  .text_mini {
    font-size: 1.2rem;
  }

  .text_tiny {
    font-size: 1.4rem;
  }

  .text_small {
    font-size: 1.6rem;
  }

  .text_medium {
    font-size: 1.8rem;
  }

  .text_big {
    font-size: 2rem;
  }

  .text_large {
    font-size: 2.2rem;
  }

  .text_huge {
    font-size: 2.4rem;
  }
}

@media (min-width:992px) {
  .h1_mini {
    font-size: 3rem;
  }

  .h1_tiny {
    font-size: 3.5rem;
  }

  .h1_small {
    font-size: 4rem;
  }

  .h1_medium {
    font-size: 4.5rem;
  }

  .h1_big {
    font-size: 5rem;
  }

  .h1_large {
    font-size: 5.5rem;
  }

  .h1_huge {
    font-size: 6rem;
  }

  .h2_mini {
    font-size: 2.4rem;
  }

  .h2_tiny {
    font-size: 2.8rem;
  }

  .h2_small {
    font-size: 3.2rem;
  }

  .h2_medium {
    font-size: 3.6rem;
  }

  .h2_big {
    font-size: 4rem;
  }

  .h2_large {
    font-size: 4.4rem;
  }

  .h2_huge {
    font-size: 4.8rem;
  }

  .h3_mini {
    font-size: 1.8rem;
  }

  .h3_tiny {
    font-size: 2.1rem;
  }

  .h3_small {
    font-size: 2.4rem;
  }

  .h3_medium {
    font-size: 2.7rem;
  }

  .h3_big {
    font-size: 3rem;
  }

  .h3_large {
    font-size: 3.3rem;
  }

  .h3_huge {
    font-size: 3.6rem;
  }

  .h4_mini {
    font-size: 1.35rem;
  }

  .h4_tiny {
    font-size: 1.575rem;
  }

  .h4_small {
    font-size: 1.8rem;
  }

  .h4_medium {
    font-size: 2.025rem;
  }

  .h4_big {
    font-size: 2.25rem;
  }

  .h4_large {
    font-size: 2.475rem;
  }

  .h4_huge {
    font-size: 2.7rem;
  }

  .text_mini {
    font-size: 1.2rem;
  }

  .text_tiny {
    font-size: 1.4rem;
  }

  .text_small {
    font-size: 1.6rem;
  }

  .text_medium {
    font-size: 1.8rem;
  }

  .text_big {
    font-size: 2rem;
  }

  .text_large {
    font-size: 2.2rem;
  }

  .text_huge {
    font-size: 2.4rem;
  }
}

@media (min-width:1200px) {
  .h1_mini {
    font-size: 3.6rem;
  }

  .h1_tiny {
    font-size: 4.2rem;
  }

  .h1_small {
    font-size: 4.8rem;
  }

  .h1_medium {
    font-size: 5.4rem;
  }

  .h1_big {
    font-size: 6rem;
  }

  .h1_large {
    font-size: 6.6rem;
  }

  .h1_huge {
    font-size: 7.2rem;
  }

  .h2_mini {
    font-size: 2.7rem;
  }

  .h2_tiny {
    font-size: 3.15rem;
  }

  .h2_small {
    font-size: 3.6rem;
  }

  .h2_medium {
    font-size: 4.05rem;
  }

  .h2_big {
    font-size: 4.5rem;
  }

  .h2_large {
    font-size: 4.95rem;
  }

  .h2_huge {
    font-size: 5.4rem;
  }

  .h3_mini {
    font-size: 2.1rem;
  }

  .h3_tiny {
    font-size: 2.45rem;
  }

  .h3_small {
    font-size: 2.8rem;
  }

  .h3_medium {
    font-size: 3.15rem;
  }

  .h3_big {
    font-size: 3.5rem;
  }

  .h3_large {
    font-size: 3.85rem;
  }

  .h3_huge {
    font-size: 4.2rem;
  }

  .h4_mini {
    font-size: 1.35rem;
  }

  .h4_tiny {
    font-size: 1.575rem;
  }

  .h4_small {
    font-size: 1.8rem;
  }

  .h4_medium {
    font-size: 2.025rem;
  }

  .h4_big {
    font-size: 2.25rem;
  }

  .h4_large {
    font-size: 2.475rem;
  }

  .h4_huge {
    font-size: 2.7rem;
  }

  .text_mini {
    font-size: 1.2rem;
  }

  .text_tiny {
    font-size: 1.4rem;
  }

  .text_small {
    font-size: 1.6rem;
  }

  .text_medium {
    font-size: 1.8rem;
  }

  .text_big {
    font-size: 2rem;
  }

  .text_large {
    font-size: 2.2rem;
  }

  .text_huge {
    font-size: 2.4rem;
  }
}

@media (max-width:767px) {
  .h1_mini {
    font-size: 2.4rem;
  }

  .h1_tiny {
    font-size: 2.8rem;
  }

  .h1_small {
    font-size: 3.2rem;
  }

  .h1_medium {
    font-size: 3.6rem;
  }

  .h1_big {
    font-size: 4rem;
  }

  .h1_large {
    font-size: 4.4rem;
  }

  .h1_huge {
    font-size: 4.8rem;
  }

  .h2_mini {
    font-size: 1.95rem;
  }

  .h2_tiny {
    font-size: 2.275rem;
  }

  .h2_small {
    font-size: 2.6rem;
  }

  .h2_medium {
    font-size: 2.925rem;
  }

  .h2_big {
    font-size: 3.25rem;
  }

  .h2_large {
    font-size: 3.575rem;
  }

  .h2_huge {
    font-size: 3.9rem;
  }

  .h3_mini {
    font-size: 1.65rem;
  }

  .h3_tiny {
    font-size: 1.925rem;
  }

  .h3_small {
    font-size: 2.2rem;
  }

  .h3_medium {
    font-size: 2.475rem;
  }

  .h3_big {
    font-size: 2.75rem;
  }

  .h3_large {
    font-size: 3.025rem;
  }

  .h3_huge {
    font-size: 3.3rem;
  }

  .h4_mini {
    font-size: 1.35rem;
  }

  .h4_tiny {
    font-size: 1.575rem;
  }

  .h4_small {
    font-size: 1.8rem;
  }

  .h4_medium {
    font-size: 2.025rem;
  }

  .h4_big {
    font-size: 2.25rem;
  }

  .h4_large {
    font-size: 2.475rem;
  }

  .h4_huge {
    font-size: 2.7rem;
  }

  .text_mini {
    font-size: 1.2rem;
  }

  .text_tiny {
    font-size: 1.4rem;
  }

  .text_small {
    font-size: 1.6rem;
  }

  .text_medium {
    font-size: 1.8rem;
  }

  .text_big {
    font-size: 2rem;
  }

  .text_large {
    font-size: 2.2rem;
  }

  .text_huge {
    font-size: 2.4rem;
  }
}
.article-preview-card__description {
  font-family: Montserrat-Regular;
  font-size: 1.4rem;
  line-height: 125%;
}

@media (min-width:768px) {
  .article-preview-card__description {
    font-size: 1.6rem;
  }
}

@media (min-width:992px) {
  .article-preview-card__description {
    font-size: 1.8rem;
  }
}
.article-preview-card__title {
  margin: 20px 0 10px;
}
@media (min-width:1200px) {
  .articles-preview-section__container {
    padding-left: calc(30px / 2);
    padding-right: calc(30px / 2);
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
  }
}

@media (min-width:1200px) and (min-width:576px) {
  .articles-preview-section__container {
    width: 576px;
  }
}

@media (min-width:1200px) and (min-width:768px) {
  .articles-preview-section__container {
    width: 768px;
  }
}

@media (min-width:1200px) and (min-width:992px) {
  .articles-preview-section__container {
    width: 984px;
  }
}

@media (min-width:1200px) and (min-width:1200px) {
  .articles-preview-section__container {
    width: 1200px;
  }
}
@media (min-width:1200px) {
  .articles-preview-section__items-grid {
    width: calc(100% + 30px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: -30px -15px 0 -15px;
  }

  .articles-preview-section__items-grid>* {
    margin: 30px 15px 0 15px;
    width: calc((100% - 30px * 3)/ 3 - .5px);
    box-sizing: border-box;
  }

@supports (display:grid) {
    .articles-preview-section__items-grid {
      width: 100%;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3,1fr);
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      align-items: start;
      margin: 0;
    }

    .articles-preview-section__items-grid>* {
      margin: 0;
      width: initial;
      height: auto;
    }
}
}
.button_big:not([type=submit]) {
  width: 200px;
  height: 60px;
  font-size: 1.8rem;
}

@media (min-width:768px) {
  .button_big {
    width: 200px;
    height: 60px;
    font-size: 1.8rem;
  }
}
.button_primary {
  position: relative;
  color: #fff;
  background: 0 0;
}

.button_primary:hover:after {
  opacity: 0;
}

.button_primary:after,
.button_primary:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: all .2s;
}

.button_primary:before {
  background-image: linear-gradient(168.94deg,#d23434 0,#b12638 100%);
}

.button_primary:after {
  background: #d52e43;
  background: linear-gradient(168.94deg,#ff2e2e 0,#d52e43 80.27%);
}
.button_small {
  font-family: Montserrat-Medium;
  font-size: 1.4rem;
  min-width: 15rem;
  padding: 0 12px;
  height: 4.5rem;
  border-radius: 5px;
}

@media (min-width:992px) {
  .button_small {
    min-width: 16rem;
    font-size: 1.5rem;
  }
}
@media (min-width:768px) {
  .feature-item__article {
    text-align: center;
  }
}

@media (max-width:767px) {
  .feature-item__article {
    flex-basis: calc(100% - 85px);
  }
}
@media (min-width:768px) {
  .feature-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    margin-bottom: 10px;
  }

  .feature-item__icon>img {
    height: 100%;
  }
}

@media (max-width:767px) {
  .feature-item__icon {
    flex-basis: 70px;
  }
}
.feature-item__text {
  font-family: Montserrat-Light;
  font-size: 1.6rem;
  line-height: 1.2em;
}
@media (min-width:768px) {
  .features-section__items-grid {
    width: calc(100% + 30px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: -30px -15px 0 -15px;
  }

  .features-section__items-grid>* {
    margin: 30px 15px 0 15px;
    width: calc((100% - 30px * 3)/ 3 - .5px);
    box-sizing: border-box;
  }

@supports (display:grid) {
    .features-section__items-grid {
      width: 100%;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3,1fr);
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      align-items: start;
      margin: 0;
    }

    .features-section__items-grid>* {
      margin: 0;
      width: initial;
      height: auto;
    }
}
}

@media (max-width:767px) {
  .features-section__items-grid {
    display: flex;
    flex-direction: column;
  }

  .features-section__items-grid>:not(:first-child) {
    margin-top: 20px;
  }
}
.feature-item__title {
  margin-bottom: 5px;
}

@media (min-width:768px) {
  .feature-item__title {
    margin-bottom: 5px;
  }
}
.form__agreement {
  font-style: italic;
  line-height: 120%;
  margin: 0 3px;
  opacity: .7;
}

@media (min-width:768px) {
  .form__agreement {
    text-align: right;
    margin: 0;
  }
}
.font-weight_bold {
  font-family: Montserrat-Bold;
}
.font-weight_extrabold {
  font-family: Montserrat-ExtraBold;
}
.font-weight_medium {
  font-family: Montserrat-Medium;
}
.font-weight_semibold {
  font-family: Montserrat-Semibold;
}
@media (max-width:767px) {
  .form-group-x1 {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-rows: (50px)[1];
    grid-template-rows: repeat(1,50px);
  }

  .form-group-x2 {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-rows: (50px)[2];
    grid-template-rows: repeat(2,50px);
  }

  .form-group-x3 {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-rows: (50px)[3];
    grid-template-rows: repeat(3,50px);
  }

  .form-group-x4 {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-rows: (50px)[4];
    grid-template-rows: repeat(4,50px);
  }

  .form-group-x5 {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-rows: (50px)[5];
    grid-template-rows: repeat(5,50px);
  }
}
@media (max-width:767px) {
  .form-group-x1 {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-rows: (55px)[1];
    grid-template-rows: repeat(1,55px);
  }

  .form-group-x2 {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-rows: (55px)[2];
    grid-template-rows: repeat(2,55px);
  }

  .form-group-x3 {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-rows: (55px)[3];
    grid-template-rows: repeat(3,55px);
  }

  .form-group-x4 {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-rows: (55px)[4];
    grid-template-rows: repeat(4,55px);
  }

  .form-group-x5 {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-rows: (55px)[5];
    grid-template-rows: repeat(5,55px);
  }
}
@media (min-width:768px) {
  .form-group_horizontal {
    display: inline-flex;
    flex-direction: row;
  }
}
@media (max-width:767px) {
  .form-group-x1 {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-rows: (55px)[1];
    grid-template-rows: repeat(1,55px);
  }

  .form-group-x2 {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-rows: (55px)[2];
    grid-template-rows: repeat(2,55px);
  }

  .form-group-x3 {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-rows: (55px)[3];
    grid-template-rows: repeat(3,55px);
  }

  .form-group-x4 {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-rows: (55px)[4];
    grid-template-rows: repeat(4,55px);
  }

  .form-group-x5 {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-rows: (55px)[5];
    grid-template-rows: repeat(5,55px);
  }
}
@media (min-width:768px) {
  .form-group_vertical {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

@supports (display:grid) {
    .form-group_vertical {
      display: -ms-inline-grid;
      display: inline-grid;
      -ms-grid-columns: 100%;
      grid-template-columns: 100%;
      -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3,auto);
      grid-row-gap: 0;
    }
}

  .form-group_vertical>* {
    margin-top: 0;
  }

  .form-group_vertical>:nth-child(-n+1) {
    margin-top: 0;
  }

@supports (display:grid) {
    .form-group_vertical {
      grid-row-gap: 0;
    }

    .form-group_vertical>* {
      margin-top: 0;
    }
}
}
.form-group__input {
  box-sizing: border-box;
  width: 100%;
}

.form-group_large .form-group__input {
  font-family: Montserrat-Medium;
  font-size: 1.8rem;
  height: 60px;
  padding: 0 19px;
  border: none;
}

.form-group_big .form-group__input {
  font-family: Montserrat-Medium;
  font-size: 1.7rem;
  height: 55px;
  padding: 0 17px;
  border: none;
}

.form-group_medium .form-group__input {
  font-family: Montserrat-Medium;
  font-size: 1.6rem;
  height: 55px;
  padding: 0 15px;
  border: none;
}

.form-group_vertical .form-group__input:not(:first-child) {
  border-top: 1px solid rgba(0,0,0,.15);
}

@media (min-width:768px) {
  .form-group_large .form-group__input {
    width: 265px;
    font-size: 1.9rem;
  }

  .form-group_big .form-group__input {
    width: 255px;
    font-size: 1.8rem;
  }

  .form-group_medium .form-group__input {
    width: 240px;
    font-size: 1.7rem;
  }

  .form-group_horizontal .form-group__input:not(:first-child) {
    border-left: 1px solid rgba(0,0,0,.15);
  }
}

@media (min-width:992px) {
  .form-group_large .form-group__input {
    width: 300px;
    font-size: 2rem;
  }

  .form-group_big .form-group__input {
    width: 280px;
    font-size: 1.9rem;
  }

  .form-group_medium .form-group__input {
    width: 250px;
    font-size: 1.8rem;
  }
}

@media (max-width:767px) {
  .form-group_horizontal .form-group__input:not(:first-child) {
    border-top: 1px solid rgba(0,0,0,.15);
  }
}
.button_primary,
.form-group__submit {
  position: relative;
  color: #fff;
  background: 0 0;
}

.button_primary:hover:after,
.form-group__submit:hover:after {
  opacity: 0;
}

.button_primary:after,
.button_primary:before,
.form-group__submit:after,
.form-group__submit:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: all .2s;
}

.button_primary:before,
.form-group__submit:before {
  background-image: linear-gradient(168.94deg,#d23434 0,#b12638 100%);
}

.button_primary:after,
.form-group__submit:after {
  background: #d52e43;
  background: linear-gradient(168.94deg,#ff2e2e 0,#d52e43 80.27%);
}

.form-group__submit {
  z-index: 1;
}

.form-group_vertical .form-group__submit {
  width: 100%;
}

.form-group_large .form-group__submit {
  font-family: Montserrat-Bold;
  font-size: 1.9rem;
  height: 60px;
}

.form-group_big .form-group__submit {
  font-family: Montserrat-Bold;
  font-size: 1.6rem;
  height: 55px;
}

.form-group_medium .form-group__submit {
  font-family: Montserrat-Bold;
  font-size: 1.5rem;
  height: 55px;
}

@media (min-width:768px) {
  .form-group_large.form-group_horizontal .form-group__submit {
    width: 205px;
  }

  .form-group_big.form-group_horizontal .form-group__submit {
    width: 180px;
  }

  .form-group_medium.form-group_horizontal .form-group__submit {
    width: 170px;
  }
}

@media (min-width:992px) {
  .form-group_large .form-group__submit {
    font-size: 2rem;
  }

  .form-group_large.form-group_horizontal .form-group__submit {
    width: 250px;
  }

  .form-group_big .form-group__submit {
    font-size: 1.8rem;
  }

  .form-group_big.form-group_horizontal .form-group__submit {
    width: 200px;
  }

  .form-group_medium .form-group__submit {
    font-size: 1.6rem;
  }

  .form-group_medium.form-group_horizontal .form-group__submit {
    width: 180px;
  }
}

@media (max-width:767px) {
  .form-group_horizontal .form-group__submit {
    width: 100%;
  }
}
.link_arrowed {
  display: inline-flex;
  flex-direction: row;
  text-decoration: none;
  transition: all .45s ease;
}

.link_arrowed>* {
  margin-right: .55em;
}

.link_arrowed>:last-child {
  margin-right: 0;
}

@supports (display:grid) {
  .link_arrowed {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    grid-auto-flow: column;
    grid-column-gap: .55em;
  }

  .link_arrowed>* {
    margin-right: 0;
  }
}

.link_arrowed:hover {
  grid-column-gap: .8em;
}

.link_arrowed .icon-arrow {
  font-size: .9em;
  margin-top: .111em;
}
.list_checked li {
  position: relative;
}

.list_checked li:before {
  content: '';
  height: 1em;
  width: 1em;
  display: block;
  background: url(/public/svg/lists/checked-red.svg) right center no-repeat;
  position: absolute;
  left: -1.5em;
}
.profile-preview-card__body>:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width:768px) {
  .profile-preview-card__body {
    flex-basis: calc(50% - 15px);
  }

  .profile-preview-card__body>:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media (min-width:992px) {
  .profile-preview-card__body>:not(:last-child) {
    margin-bottom: 50px;
  }
}
@media (min-width:768px) {
  .profile-preview-card__head {
    flex-basis: 100%;
  }
}
.profile-preview-card__img {
  display: flex;
  align-items: center;
  margin-top: 0!important;
}

@media (min-width:768px) {
  .profile-preview-card__img {
    flex-basis: calc(50% - 15px);
    display: flex;
    justify-content: center;
  }

  .profile-preview-card__img img {
    max-width: 80%;
  }

@supports (display:grid) {
    .profile-preview-card__img {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1/2;
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      grid-row: 1/3;
    }
}
}

@media (max-width:767px) {
  .profile-preview-card__img {
    width: 70%;
    margin: 0 auto;
  }
}
@media (min-width:768px) {
  .profile-preview-card__properties-list {
    width: calc(100% + 30px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: -30px -15px 0 -15px;
  }

  .profile-preview-card__properties-list>* {
    margin: 30px 15px 0 15px;
    width: calc((100% - 30px * 2)/ 2 - .5px);
    box-sizing: border-box;
  }

@supports (display:grid) {
    .profile-preview-card__properties-list {
      width: 100%;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2,1fr);
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      align-items: start;
      margin: 0;
    }

    .profile-preview-card__properties-list>* {
      margin: 0;
      width: initial;
      height: auto;
    }
}
}
@media (max-width:767px) {
  .profile-preview-card__properties {
    width: 100vw;
    margin-left: -15px;
  }
}
.profile-preview-card__property-head-unit {
  font-size: .45em;
}
.profile-preview-card__property-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

@media (min-width:768px) {
  .profile-preview-card__property-item {
    min-width: 162px;
    max-width: 270px;
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@media (min-width:1200px) {
  .profile-preview-card__property-item {
    min-width: 270px;
  }
}

@media (max-width:767px) {
  .profile-preview-card__property-item {
    width: auto;
    min-width: 160px;
    padding: 15px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
  }
}
.profile-preview-card__property-name {
  font-size: 1.4rem;
}

@media (min-width:768px) {
  .profile-preview-card__property-name {
    font-size: 1.6rem;
  }
}

@media (min-width:992px) {
  .profile-preview-card__property-name {
    font-size: 1.8rem;
  }
}
.profile-preview-card__title {
  font-size: 2.8rem;
  text-transform: uppercase;
}
.profile-preview-card__utp {
  font-size: 1.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  background: rgba(0,0,0,.075);
  border-radius: 4px;
}

@media (min-width:768px) {
  .profile-preview-card__utp {
    font-size: 1.4rem;
    height: 50px;
  }
}

@media (min-width:1200px) {
  .profile-preview-card__utp {
    font-size: 2.2rem;
    height: 80px;
  }
}
.progress-bar__container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 2px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 2px rgba(0,0,0,.3);
}
.progress-bar__filling {
  background: #d52e43;
  background: linear-gradient(168.94deg,#ff2e2e 0,#d52e43 80.27%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
@media (min-width:992px) {
  .section_big {
    margin-top: 15rem;
  }
}
@media (min-width:992px) {
  .section_huge {
    margin-top: 20rem;
  }
}
@media (min-width:992px) {
  .section_large {
    margin-top: 18rem;
  }
}
@media (min-width:992px) {
  .section_medium {
    margin-top: 12rem;
  }
}
@media (min-width:992px) {
  .section_mini {
    margin-top: 5rem;
  }
}
@media (min-width:992px) {
  .section_small {
    margin-top: 10rem;
  }
}
@media (min-width:992px) {
  .section_tiny {
    margin-top: 8rem;
  }
}
@media (min-width:992px) {
  .section_tiny {
    padding-top: 8rem;
  }
}
.swiper-scrollbar_small {
  height: 3px!important;
}
.text_secondary-1 {
  opacity: .8;
}
.text_secondary-2 {
  opacity: .6;
}
.h2_small .text_mini {
  font-size: 16 * 1.625;
}

.h2_small .text_tiny {
  font-size: 16 * 1.625;
}

.h2_small .text_small {
  font-size: 16 * 1.625;
}

.h2_small .text_medium {
  font-size: 16 * 1.625;
}

.h2_small .text_big {
  font-size: 16 * 1.625;
}

.h2_small .text_large {
  font-size: 16 * 1.625;
}

.h2_small .text_massive {
  font-size: 16 * 1.625;
}

@media (min-width:768px) {
  .h2_small .text_mini {
    font-size: 16 * 1.625;
  }

  .h2_small .text_tiny {
    font-size: 16 * 1.625;
  }

  .h2_small .text_small {
    font-size: 16 * 1.625;
  }

  .h2_small .text_medium {
    font-size: 16 * 1.625;
  }

  .h2_small .text_big {
    font-size: 16 * 1.625;
  }

  .h2_small .text_large {
    font-size: 16 * 1.625;
  }

  .h2_small .text_massive {
    font-size: 16 * 1.625;
  }
}

@media (min-width:992px) {
  .h2_small .text_mini {
    font-size: 16 * 2;
  }

  .h2_small .text_tiny {
    font-size: 16 * 2;
  }

  .h2_small .text_small {
    font-size: 16 * 2;
  }

  .h2_small .text_medium {
    font-size: 16 * 2;
  }

  .h2_small .text_big {
    font-size: 16 * 2;
  }

  .h2_small .text_large {
    font-size: 16 * 2;
  }

  .h2_small .text_massive {
    font-size: 16 * 2;
  }
}

@media (min-width:1200px) {
  .h2_small .text_mini {
    font-size: 16 * 2.25;
  }

  .h2_small .text_tiny {
    font-size: 16 * 2.25;
  }

  .h2_small .text_small {
    font-size: 16 * 2.25;
  }

  .h2_small .text_medium {
    font-size: 16 * 2.25;
  }

  .h2_small .text_big {
    font-size: 16 * 2.25;
  }

  .h2_small .text_large {
    font-size: 16 * 2.25;
  }

  .h2_small .text_massive {
    font-size: 16 * 2.25;
  }
}
.container__section_full-vw {
  width: 100vw;
  margin-left: -15px;
}