@import "../../bootstrap"

.title-screen
  height: 100vh
  margin-bottom: 80px
  background-position: center
  background-size: cover
  padding-top: $header-height_sm
  box-sizing: border-box

  @media ($brpt_md)
    padding-top: $header-height_md
    margin-bottom: 100px


  @media ($brpt_xl)
    margin-bottom: 120px