@import "../../bootstrap"

.title-screen
  margin-bottom: 80px
  background-position: center
  background-size: cover

  @media ($brpt_md)
    margin-bottom: 100px

  @media ($brpt_xl)
    margin-bottom: 120px