.title-screen__page-title {
  background: #fff;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.1);
}

@media (min-width:768px) {
  .title-screen__page-title {
    padding: 50px 30px;
  }
}