@import "../../../bootstrap"

.link_arrowed
  //display: inline-flex
  //align-items: center
  @include row-generate-auto(auto auto, .55em, column, inline)
  text-decoration: none
  transition: all $duration_slow ease


  &:hover
    .icon-arrow
      left: .5em

  .icon-arrow
    position: relative
    left: 0
    font-size: .9em
    margin-top: .111em
    transition: all $duration_slow ease