.nav__category-title {
  font-family: Montserrat-Bold;
  font-size: 3rem;
  margin-bottom: 15px;
}

@media (min-width:768px) {
  .nav__category-title {
    font-size: 2.2rem;
    margin-bottom: 10px;
  }
}

@media (min-width:992px) {
  .nav__category-title {
    white-space: nowrap;
  }
}