@import "../../../bootstrap"

.title-screen_small
  border-bottom: 1px solid rgba(#000,.15)
  height: auto
  margin-top: $header-height_sm
  padding-top: 0


  @media ($brpt_md)
    margin-top: $header-height_md