@import "../../bootstrap"

$radius: 3px

.border-radius
  border-radius: $radius
  overflow: hidden

.md-border-radius
  @media ($brpt_md)
    border-radius: $radius
    overflow: hidden


.lg-border-radius
  @media ($brpt_lg)
    border-radius: $radius
    overflow: hidden


.xl-border-radius
  @media ($brpt_xl)
    border-radius: $radius
    overflow: hidden