.main-products__category-lists-group {
  display: flex;
  flex-direction: row;
}

.main-products__category-lists-group>* {
  margin-right: 50px;
}

.main-products__category-lists-group>:nth-child(2n) {
  margin-right: 0;
}

@media (min-width:992px) {
  .main-products__category-lists-group {
    display: flex;
    flex-direction: row;
  }

  .main-products__category-lists-group>* {
    margin-right: 45px;
  }

  .main-products__category-lists-group>:nth-child(2n) {
    margin-right: 0;
  }
}