@import "../../../bootstrap"

.header__phone
  font-family: "Montserrat-Bold"


  @media ($brpt_sm_max)
    display: none


  @media ($brpt_md)
    font-size: 1.8rem


  @media ($brpt_lg)
    font-size: 2.8rem


  @media ($brpt_xl)
    font-size: 3rem



  & a
    @include text-red