.title-screen {
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding-top: 54px;
  box-sizing: border-box;
  margin-top: 50px;
}

@media (min-width:768px) {
  .title-screen {
    margin-top: 60px;
  }
}

@media (min-width:1200px) {
  .title-screen {
    margin-top: 120px;
  }
}