.rubrics-about__card {
  overflow: hidden;
  border-radius: 3px;
  max-width: calc(100vw - 30px);
  height: auto;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,.12);
}

@media (min-width:768px) {
  .rubrics-about__card {
    min-width: auto;
    padding: 15px;
  }
}

@media (min-width:1200px) {
  .rubrics-about__card {
    box-shadow: 0 0 0 rgba(0,0,0,.23);
    transition: all .2s;
  }

  .rubrics-about__card:hover {
    box-shadow: 0 2px 12px rgba(0,0,0,.23);
  }
}