.rubrics-about__card {
  overflow: hidden;
  border-radius: 3px;
  max-width: calc(100vw - 30px);
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0 2px 12px #a8afc4;
}

@media (min-width:768px) {
  .rubrics-about__card {
    min-width: auto;
    padding: 15px;
  }
}

@media (min-width:1200px) {
  .rubrics-about__card {
    box-shadow: 0 0 2px #a8afc4;
    transition: all .35s;
  }

  .rubrics-about__card:hover {
    box-shadow: 0 2px 12px #a8afc4;
  }
}