.rubrics-about__container {
  display: flex;
  width: 100vw;
  margin-left: calc((100vw - 100%)/ -2);
}

@media (min-width:1200px) {
  .rubrics-about__container {
    padding-left: calc(30px / 2);
    padding-right: calc(30px / 2);
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    display: block;
  }
}

@media (min-width:1200px) and (min-width:576px) {
  .rubrics-about__container {
    width: 576px;
  }
}

@media (min-width:1200px) and (min-width:768px) {
  .rubrics-about__container {
    width: 768px;
  }
}

@media (min-width:1200px) and (min-width:992px) {
  .rubrics-about__container {
    width: 984px;
  }
}

@media (min-width:1200px) and (min-width:1200px) {
  .rubrics-about__container {
    width: 1200px;
  }
}