@import "../../bootstrap"

.header
  display: flex
  align-items: center
  width: 100%
  background: #fff
  box-shadow: 0 2px 15px rgba(#000,.25)
  height: $header-height_sm
  z-index: 10
  position: fixed
  top: 0

  @media ($brpt_md)
    height: $header-height_md