@import "../../../bootstrap"

.feature-item__icon
  @media ($brpt_sm_max)
    flex-basis: 70px

  @media ($brpt_md)
    display: flex
    align-items: center
    justify-content: center
    height: 80px
    margin-bottom: 10px

    & > img
      height: 100%