@import "../../bootstrap"

.overflow-visible
  overflow: visible

.md-overflow-visible
  overflow: hidden
  @media ($brpt_md)
    overflow: visible

.lg-overflow-visible
  overflow: hidden
  @media ($brpt_lg)
    overflow: visible

.xl-overflow-visible
  overflow: hidden
  @media ($brpt_xl)
    overflow: visible