@import "../../../bootstrap"

.free-measuring-section__text
  padding-bottom: 30px

  @media ($brpt_md)
    width: 660px
    padding-bottom: 40px


  @media ($brpt_xl)
    width: 770px
    padding-bottom: 45px