@import "../../../bootstrap"

.rubrics-about__card
  overflow: hidden
  border-radius: 3px
  max-width: calc(100vw - #{$grid-column-gap})
  height: auto
  box-sizing: border-box
  border: 1px solid rgba(#000,.12)


  @media ($brpt_md)
    min-width: auto
    padding: 15px



  @media ($brpt_xl)
    box-shadow: 0 0 0 rgba(#000,.23)
    transition: all $duration_fast

    &:hover
      box-shadow: 0 2px 12px rgba(#000,.23)