.product-title {
  position: relative;
  margin-left: 15px;
}

.product-title:before {
  content: '';
  display: block;
  width: 10px;
  height: 100%;
  left: -15px;
  position: absolute;
  background: #d52e43;
  background: linear-gradient(168.94deg,#ff2e2e 0,#d52e43 80.27%);
}