@import "../../bootstrap"

.overflow-hidden
  overflow: hidden

.md-overflow-hidden
  @media ($brpt_md)
    overflow: hidden

.lg-overflow-hidden
  @media ($brpt_lg)
    overflow: hidden

.xl-overflow-hidden
  @media ($brpt_xl)
    overflow: hidden