@import "../../../bootstrap"

.title-screen__page-title
  background: #fff
  padding: 15px
  border-radius: 3px
  border: 1px solid rgba(#000,.1)



  @media ($brpt_md)
    padding: 50px 30px



  @media ($brpt_lg)
