@media (min-width:768px) {
  .nav__dropdown-list {
    display: flex;
    flex-direction: column;
  }

  .nav__dropdown-list>:not(:first-child) {
    margin-top: 10px;
  }
}

@media (max-width:767px) {
  .nav__dropdown-list {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
  }

  .nav__dropdown-list>:not(:first-child) {
    margin-top: 15px;
  }
}