@media (min-width:768px) {
  .product-section__wrapper {
    width: calc(100% + 30px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: -30px -15px 0 -15px;
  }

  .product-section__wrapper>* {
    margin: 30px 15px 0 15px;
    width: calc((100% - 30px * 1)/ 1 - .5px);
    box-sizing: border-box;
  }

@supports (display:grid) {
    .product-section__wrapper {
      width: 100%;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1,1fr);
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      align-items: start;
      margin: 0;
    }

    .product-section__wrapper>* {
      margin: 0;
      width: initial;
      height: auto;
    }
}
}

@media (min-width:992px) {
  .product-section__wrapper {
    width: calc(100% + 30px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: -30px -15px 0 -15px;
  }

  .product-section__wrapper>* {
    margin: 30px 15px 0 15px;
    width: calc((100% - 30px * 2)/ 2 - .5px);
    box-sizing: border-box;
  }

@supports (display:grid) {
    .product-section__wrapper {
      width: 100%;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2,1fr);
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      align-items: start;
      margin: 0;
    }

    .product-section__wrapper>* {
      margin: 0;
      width: initial;
      height: auto;
    }
}
}

@media (max-width:767px) {
  .product-section__wrapper {
    display: flex;
    flex-direction: column;
  }
}