@import "../../bootstrap"

.article-preview-card
  width: 75vw
  padding: 15px
  background: #fff
  //box-shadow: 0 2px 10px rgba(#000,.4)
  border: 1px solid rgba(#000,.15)
  border-radius: 3px
  box-sizing: border-box

  @media ($brpt_md)
    width: 310px

  @media ($brpt_lg)
    width: 370px