@import "../../bootstrap"

.free-measuring-section
  color: #fff
  position: relative


  @media ($brpt_md)
    padding-bottom: calc(180px / 2)


  @media ($brpt_xl)
    padding-bottom: calc(240px / 2)