@media (min-width:768px) {
  .form-group_vertical {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

@supports (display:grid) {
    .form-group_vertical {
      display: -ms-inline-grid;
      display: inline-grid;
      -ms-grid-columns: 100%;
      grid-template-columns: 100%;
      -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3,auto);
      grid-row-gap: 0;
    }
}

  .form-group_vertical>* {
    margin-top: 0;
  }

  .form-group_vertical>:nth-child(-n+1) {
    margin-top: 0;
  }

@supports (display:grid) {
    .form-group_vertical {
      grid-row-gap: 0;
    }

    .form-group_vertical>* {
      margin-top: 0;
    }
}
}