@media (min-width:768px) {
  .grid-cols-span-md-2 {
    width: calc(((100% - 30px * 2)/ 2) * 2 + 30px * 1)!important;
  }

@supports (display:grid) {
    .grid-cols-span-md-2 {
      width: initial!important;
      grid-column: span 2;
    }
}
}