@import "../../../bootstrap"

.nav__item
  font-family: "Montserrat-Medium"
  font-size: 3rem
  color: inherit
  text-decoration: none
  cursor: default
  position: relative
  display: flex
  align-items: center
  justify-content: space-between
  box-sizing: border-box

  &:hover
    text-decoration: none


  @media ($brpt_sm_max)
    @include section-full-vw
    border-bottom: 1px solid rgba(#fcfcfc,.25)
    padding: 14px 15px


  @media ($brpt_md)
    height: $header-height_md
    font-size: 1.4rem
    @include flex-row(2, 3px)
    justify-content: flex-start


  @media ($brpt_lg)
    font-size: 1.6rem
    @include flex-row(2, 5px)


  @media ($brpt_xl)
    font-size: 1.8rem
    position: relative

    &:after
      content: ''
      position: absolute
      background: $red-basic
      width: calc(100% + 10px)
      height: 2px
      bottom: 0
      left: -5px
      transform: scaleX(0)
      transform-origin: left
      transition: all $duration_fast

    &:hover
      &:after
        transform: scaleX(1)



a.nav__item
  cursor: pointer