@media (min-width:992px) {
  .footer__body {
    display: flex;
    flex-direction: row;
  }

  .footer__body>* {
    margin-right: 30px;
  }

  .footer__body>:last-child {
    margin-right: 0;
  }

@supports (display:grid) {
    .footer__body {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
      grid-auto-flow: column;
      grid-column-gap: 30px;
    }

    .footer__body>* {
      margin-right: 0;
    }
}
}