@media (min-width:768px) {
  .nav__category-content_horizontal {
    width: calc(100% + 30px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: -30px -15px 0 -15px;
  }

  .nav__category-content_horizontal>* {
    margin: 30px 15px 0 15px;
    width: calc((100% - 30px * 2)/ 2 - .5px);
    box-sizing: border-box;
  }

@supports (display:grid) {
    .nav__category-content_horizontal {
      width: 100%;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2,1fr);
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      margin: 0;
    }

    .nav__category-content_horizontal>* {
      margin: 0;
      width: initial;
      height: auto;
    }
}
}