.free-measuring-section {
  color: #fff;
  position: relative;
}

@media (min-width:768px) {
  .free-measuring-section {
    padding-bottom: calc(180px / 2);
  }
}

@media (min-width:1200px) {
  .free-measuring-section {
    padding-bottom: calc(240px / 2);
  }
}