@import "../../../bootstrap"

.title-screen_service
  flex-grow: 1
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 0
  height: auto

  @media ($brpt_sm_max)
    min-height: 380px
    margin-bottom: -70px