.free-measuring-section__form {
  background: #ededef;
  border-radius: 3px;
  box-shadow: 0 4px 12px rgba(0,0,0,.23);
  padding: 30px 15px;
  box-sizing: border-box;
}

.free-measuring-section__form .form__agreement {
  text-align: center;
  color: #000;
}

@media (min-width:992px) {
  .free-measuring-section__form {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: calc(100% - 30px);
    border-radius: 3px;
    position: absolute;
  }
}

@media (min-width:1200px) {
  .free-measuring-section__form {
    height: 240px;
    justify-content: flex-start;
    padding-left: 30px;
  }

  .free-measuring-section__form .form__agreement {
    text-align: left;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .free-measuring-section__form {
    width: 100vw;
    margin-left: calc((100vw - 100%)/ -2);
    border-radius: 0;
  }
}