@import "../../../bootstrap"

.free-measuring-section__worker-label


  @media ($brpt_md)
    font-size: 1.2rem
    font-family: "Montserrat-Light"
    color: #000
    font-style: italic
    background: #f0f0f0
    border-radius: 3px
    padding: 5px 10px
    position: absolute
    bottom: 15px
    width: 100%



  @media ($brpt_xl)
    width: auto