.elem-dealing_medium {
  display: flex;
  flex-direction: column;
}

.elem-dealing_medium>:not(:first-child) {
  margin-top: 30px;
}

@media (min-width:768px) {
  .elem-dealing_medium {
    display: flex;
    flex-direction: column;
  }

  .elem-dealing_medium>:not(:first-child) {
    margin-top: 40px;
  }
}

@media (min-width:1200px) {
  .elem-dealing_medium {
    display: flex;
    flex-direction: column;
  }

  .elem-dealing_medium>:not(:first-child) {
    margin-top: 50px;
  }
}