@import "../../bootstrap"

.profile-preview-card
  position: relative

  @media ($brpt_sm_max)
    @include elem-dealing-size(15px)

    &:after
      content: ''
      position: absolute
      bottom: 0
      width: 100vw
      height: 100%
      left: -#{$grid-column-gap / 2}

  @media ($brpt_md)
    display: flex
    flex-wrap: wrap

    @supports (display: grid)
      display: grid
      grid-template-columns: 1fr 1fr
      grid-template-rows: auto auto
      grid-column-gap: $grid-column-gap