@import "../../bootstrap"

.profile-preview-card

  @media ($brpt_md)
    display: flex
    flex-wrap: wrap

    @supports (display: grid)
      display: grid
      grid-template-columns: 1fr 1fr
      grid-template-rows: auto auto
      grid-column-gap: $grid-column-gap