@import "../../../bootstrap"

.title-screen__container
  height: 100%
  display: flex
  align-items: center
  min-height: calc(100vh - #{$header_height_sm})


  @media ($brpt_md)
    height: calc(100vh - #{$header_height_md})