@import "../../../bootstrap"

.rubrics-about__card-list
  font-family: "Montserrat-Regular"
  font-size: 1.4rem
  margin-top: 5px
  @include flex-column(3px)

  @media ($brpt_md)
    font-size: 2.4rem
    margin-top: 10px
    @include flex-column(5px)