.title-screen_small {
  border-bottom: 1px solid rgba(0,0,0,.15);
  height: auto;
  margin-top: 54px;
  padding-top: 0;
}

@media (min-width:768px) {
  .title-screen_small {
    margin-top: 60px;
  }
}