.contacts-department_unstuffed {
  display: flex;
  flex-direction: column;
}

.contacts-department_unstuffed>:not(:first-child) {
  margin-top: 10px;
}

.contacts-department_unstuffed .contacts-department__title {
  font-size: 1.7rem;
}

@media (min-width:992px) {
  .contacts-department_unstuffed .contacts-department__title {
    font-size: 1.8rem;
  }
}

@media (min-width:1200px) {
  .contacts-department_unstuffed .contacts-department__title {
    font-size: 2.1rem;
  }
}