@import "../../../bootstrap"

.contacts-division__contact-details
  margin-bottom: 15px

  @media ($brpt_sm_max)
    @include flex-column(15px)


  @media ($brpt_md)
    display: flex
    justify-content: space-between