@import "../../../bootstrap"

.article-preview-card__description
  font-family: "Montserrat-Regular"
  font-size: 1.4rem
  line-height: 125%

  @media ($brpt_md)
    font-size: 1.6rem

  @media ($brpt_lg)
    font-size: 1.8rem