.list_dotted {
  margin-left: .7em;
}

.list_dotted li {
  position: relative;
}

.list_dotted li:before {
  content: '';
  height: .4em;
  width: .4em;
  display: block;
  background: #df2647;
  position: absolute;
  left: -.7em;
  border-radius: 50%;
  top: .3em;
}