.button_primary {
  position: relative;
  color: #fff;
  background: 0 0;
}

.button_primary:hover:after {
  opacity: 0;
}

.button_primary:after,
.button_primary:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: all .2s;
}

.button_primary:before {
  background-image: linear-gradient(168.94deg,#d23434 0,#b12638 100%);
}

.button_primary:after {
  background: #d52e43;
  background: linear-gradient(168.94deg,#ff2e2e 0,#d52e43 80.27%);
}